FILES_DRIVER=
APP_URL=

# -- MYSQL CONFIGS --
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PSWD=
MYSQL_DATABASE=

# -- DEFAULT STORAGE PATH --
STORAGE_PATH=
EXCEL_PATH=${STORAGE_PATH}/excel
SAP_PATH_STORAGE = ${STORAGE_PATH}/sap

# -- EXCEL PATHS --
PKMC_PATH=${EXCEL_PATH}
PK05_PATH=${EXCEL_PATH}

FX4PD_PATH=${EXCEL_PATH}

# -- SAP PATH --
LT22_PATH=${SAP_PATH_STORAGE}

# -- ASSEMBLY LINE CONFIGS --
AL_API_ENDPOINT= 

# -- SAP CONFIGS --
SAP_PATH=
SAP_CONNECTION_NAME=
SAP_USER=
SAP_PSWD=